%noAroundSpace {
    margin: 0;
    padding: 0;
}

*{
    @extend %noAroundSpace;
}

*,:after,:before{
    box-sizing:border-box;
}

body,html{
    height:100%;
    width:100%;
}

body,p,h1,h2,h3,section{
    @extend %noAroundSpace;
}

body{
    font-family: 'Caveat Brush', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-weight:300;
    font-size:18px;

    main{
        section{
            @extend %noAroundSpace;
            position:relative;
            width:100%;
            display:flex;
            align-items:center;
            flex-wrap:wrap;

            p,h1,h2{
                line-height:1.3;
                width:100vw;
                text-shadow:0 0 5px rgba(0,0,0,.8);
            }

            .content{
                background:rgba(0,0,0,.4);
                color:#fff;
                border-radius:3px;
                padding:15px 20px;
                margin:0 auto;
                text-align:center;
            }
        }
        .parallax{
            position:fixed;
            width:100%;
            height:100%;
            top:0;
            left:0;
        }
        .parallax--bg{
            background-repeat:no-repeat;
            background-position:center;
            background-size:cover;
        }
        .parallax--container{
            position:absolute;
            clip:rect(0,auto,auto,0);
            width:100%;
            height:100%;
            top:0;
            left:0;
            z-index:-10;
        }

        .container--huge{
            height:120vh;
        }
            
        .container--big{
            height:100vh;
            background-image: url(../img/top_veiw.jpg);
            background-size: cover;
            background-position: center;
        }
        .container--small{
            height:40vh;
        }
        .container--random{
            height:452px;
        }
        
        .bg1{
            background-image:url(../img/livingroom.jpg);
        }
        #bg3{
            background-image:url(../img/terrace_view.jpg);
        }

    }
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 255, 255 ,0.7);
    width: 100vw;
    height: 70px;
    z-index: 100;
    padding: 0 20px;
    top: 0;
    transition: 0.5s;

    .header-left{
        >h1{
            font-size: 35px;
            text-shadow:none;
        }
    }
    .header-right{
        nav{
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    padding-left:10px;
                    list-style: none;
                    font-size: 15px;
                    text-decoration: none;
                }
            }
        }
    }
}
footer{
    width: 100%;
    height: 70px;
    color: #ffffff;
    font-size: 15px;
    background-color: #383838;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    transition: 0.5s;
}